.button {
  background-color: #111B47;
  color: #FFFFff;
}

.button-xl {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  border: 1px solid #111B47;
border-radius: 5px;
}

.button--medium {
  background-color: #111B47;
  color: #FFFFff;
  padding-top: 6px;
  padding-right: 40px;
  padding-bottom: 6px;
  padding-left: 40px;
  border: 1px solid #111B47;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;

}

.button--transparent {
  background-color: transparent;
  color: #111B47;
}

.button--small {
  padding-top: 6px;
  padding-right: 30px;
  padding-bottom: 6px;
  padding-left: 30px;
  border: 1px solid #111B47;
font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}