.about__container {
  display: flex;
  gap: 150px;
  align-items: center;
}

.healthcare-providers {
  padding-top: 110px;
  padding-bottom: 110px;
}

.download-apps {
  padding-top: 110px;
  padding-bottom: 270px;
}

.healthcare-providers__heading {
  margin-bottom: 85px;
}

.healthcare-providers__text {
  margin-bottom: 50px;
}

.download-apps__heading {
  margin-bottom: 85px;
}

.download__apps-text{
  margin-bottom: 50px;
}