.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(#67C3F3, #5A98F2);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1250px) {
  .footer__container {
    display: flex;
    gap: 30px;
  }
}

.footer__legal {
  width: 400px;
}


.footer__nav {
  display: flex;
  gap: 100px;
}

@media (max-width: 1250px) {
  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__icon {
  margin-bottom: 25px;

}

.footer__legal--top {
  margin-bottom: 45px;
}

.footer__subtitle {
  margin-bottom: 25px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

.footer__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  color: #FFFFFF;
  margin-bottom: 20px;
}
