
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #E7ECFF;
}

.footer__text-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #CDD1D4;

  @include media-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.footer__nav-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

.footer__list {
  display: flex;
  gap: 60px;
  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer__link {
  color: #929ECC;
  @include media-mobile {
    font-weight: 600;
  }
}

.footer__social-media {
  display: flex;
  gap: 30px;
  @include media-mobile {
    display: flex;
    gap: 20px;
  }
}