@font-face {
  font-family: Lato;
  font-display: swap;
  font-weight: 300;
  src: url("../Roboto_font/Roboto-Thin.woff2") format('woff2');

}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-weight: 400;
  src: url("../Roboto_font/Roboto-Light.woff2") format('woff2');

}


@font-face {
  font-family: Roboto;
  font-display: swap;
  font-weight: 500;
  src: url("../Roboto_font/Roboto-Regular.woff2") format('woff2');
}


@font-face {
  font-family: Roboto;
  font-display: swap;
  font-weight: 700;
  src: url("../Roboto_font/Roboto-Bold.woff2") format('woff2');
}


@font-face {
  font-family: Roboto;
  font-display: swap;
  font-weight: 900;
  src: url("../Roboto_font/Roboto-Black.woff2") format('woff2');
}

.container {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1200px) {
    width: 800px;
  }
}

body {
  font-family: Roboto, sans-serif;
}

.nav {
font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #505F98;
  @media (max-width: 1200px) {
    font-weight: 600;
  }
}

.logo {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.5;
  color: #37447E;
}

.heading {
  font-size: 36px;
  font-weight: 500;
  color: #091133;
  line-height: 1.3;
  @media(max-width: 1200px) {
    font-size: 30px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #6F7CB2
}

.text--dark {
  color: #37447E;
}