.light-fast {
  padding-top: 110px;
  padding-bottom: 110px;
  @include media-tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.light-fast__container {
  display: flex;
  gap: 125px;
  align-items: center;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media-mobile {
    gap: 80px;
  }
}

.light-fast__image-wrapper {
  @media (max-width: 1200px) {
    width: 300px;
  }
}

.light-fast__image {
  width: 100%;
}

.light-fast__heading {
  margin-bottom: 30px;
}

.light-fast__text {
  width: 600px;
}

.button__light-fast {
  margin-top: 45px;
  border-radius: 5px;
}