.light-fast {
  padding-top: 110px;
  padding-bottom: 110px;
}

.light-fast__container {
  display: flex;
  gap: 125px;
  align-items: center;
}

.light-fast__image {
  width: 100%;
}

.light-fast__heading {
  margin-bottom: 30px;
}

.button__light-fast {
  margin-top: 45px;
  border-radius: 5px;
}